<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteRule ^faq\.html$ http://wiki.alioth.net/index.php/Oolite_FAQ [R=permanent]
	RewriteRule ^dl$ http://oolite.org/download [R=permanent]
	RewriteRule ^lk$ http://oolite.org/links [R=permanent]
	RewriteRule ^i$ http://oolite.org/info [R=permanent]
	RewriteRule ^pic$ http://oolite.org/gallery [R=permanent]
	RewriteRule ^pic2$ http://oolite.org/gallery-old1 [R=permanent]
	RewriteRule ^pic3$ http://oolite.org/gallery-old2 [R=permanent]
	RewriteRule ^bb$ http://aegidian.org/bb/ [R=temp]
	RewriteRule ^material-test-suite http://wiki.alioth.net/index.php/Material_Test_Suite_OXP [R=permanent]
	
	RewriteCond %{HTTP_HOST} ^oolite-linux\.berlios\.de$ [NC]
	RewriteRule ^(.*)$ http://www.oolite.org/$1 [R=permanent]
</IfModule>

ErrorDocument 404 /e404.shtml

Header always append X-Frame-Options DENY
