<div id="community">
<p>There are several other internet sites with information on Oolite and the Oolite universe:</p>

<ul>
<li><a href="http://aegidian.org/bb/">Oolite Bulletin Board</a>, Oolite’s official web forum.</li>
<li><a href="http://wiki.alioth.net/index.php/Oolite_Main_Page">Elite Wiki</a>, a user-edited guide to the world of Oolite and Elite. Useful pages include the <a href="http://wiki.alioth.net/index.php/Oolite_FAQ">Oolite FAQ</a> and <a href="http://wiki.alioth.net/index.php/OXP">Expansion Pack list</a>.</li>
<li><a href="irc://irc.oftc.net/oolite">Oolite IRC channel</a> (#oolite on irc.oftc.net)</li>
<li><a href="http://www.cafepress.com/oolite">The Oolite Interplanetary Gift Shop</a>, official Oolite merchandise.</li>
<li><a href="http://twitter.com/Oolite">Twitter feed</a> with announcements and development information.</li>
<li>Many fans have written fiction set in the Oolite universe, listed on the <a href='http://wiki.alioth.net/index.php/Category:Oolite_stories'>Oolite stories</a> wiki page.</li>
<li>The <a href="https://github.com/OoliteProject/oolite">Github project site</a> can be used to report bugs, and watch the latest developments.</li>
</ul>



</div>
