<div id="download">

  <h2>Current version</h2>

  <p>The latest release of Oolite is version 1.80, released 1 July 2014. This is the version recommended for playing the game.</p>

  <div class="os"><h3>Mac OS X</h3>
	<p class='req'>Mac OS 10.6 or later</p>
	<ul>
	  <li><a href="https://github.com/OoliteProject/oolite/releases/download/1.80b/Oolite-1.80.zip">Oolite for Mac</a></li>
	</ul>
  </div>
  <div class="os"><h3>Windows</h3>
	<p class='req'>XP service pack 3 or later</p>
	<ul>
	  <li><a href="https://github.com/OoliteProject/oolite/releases/download/1.80b/Oolite-1.80_x86.exe">Oolite for 32-bit Windows</a></li>
	  <li><a href="https://github.com/OoliteProject/oolite/releases/download/1.80b/Oolite-1.80_x64.exe">Oolite for 64-bit Windows</a></li>
	</ul>
  </div>
  <div class="os"><h3>Linux</h3>
	<p class='req'>x86 and x86_64 supported</p>
	<ul>
	  <li><a href="https://github.com/OoliteProject/oolite/releases/download/1.80b/oolite-1.80.linux-x86.tgz">Oolite for 32-bit Linux</a></li>
	  <li><a href="https://github.com/OoliteProject/oolite/releases/download/1.80b/oolite-1.80.linux-x86_64.tgz">Oolite for 64-bit Linux</a></li>
	</ul>
  </div>

  <div class="imgbar imgbar-starfield clear"></div>

  <h2>OXP Developer releases</h2>
  <p>The main downloads are optimised for maximum in-game performance and are recommended for players. People wishing to develop expansion packs for the game are recommended to install the OXP Developer releases. The following extra features are enabled in these releases at the expense of performance.</p>

<ul>
<li>    Debug OXP and Debug Console are supported.</li>
<li>    OXP Verifier functionality is included.</li>
<li>    Localization tools support is included.</li>
<li>    AI Graphviz support is included.</li>
<li>    Debug information is added. (e.g. AI stack, collision, dump target state, entities, memory usage, script tracing etc.)</li>
<li>    JS monitor support is enabled.</li>
<li>    The JS method <code>takeSnapshot()</code> is enabled.</li>
<li>    Time Acceleration Factor (TAF) is enabled.</li>
<li>    Shift-F displays FPS, entities, coordinates and TAF info.</li>
<li>    Sanity checks are included.</li>
</ul>

  <div class="os"><h3>Mac OS X</h3>
	<ul>
	  <li><a href="https://github.com/OoliteProject/oolite/releases/download/1.80b/Oolite-1.80-Mac-TestRelease.zip">Developer Release for Mac</a></li>
	</ul>
  </div>
  <div class="os"><h3>Windows</h3>
	<ul>
	  <li><a href="https://github.com/OoliteProject/oolite/releases/download/1.80b/Oolite-1.80-test_x86.exe">Developer Release for 32-bit Windows</a></li>
	  <li><a href="https://github.com/OoliteProject/oolite/releases/download/1.80b/Oolite-1.80-test_x64.exe">Developer Release for 64-bit Windows</a></li>
	</ul>
  </div>
  <div class="os"><h3>Linux</h3>
	<ul>
	  <li><a href="https://github.com/OoliteProject/oolite/releases/download/1.80b/oolite-1.80-test.linux-x86.tgz">Developer Release for 32-bit Linux</a></li>
	  <li><a href="https://github.com/OoliteProject/oolite/releases/download/1.80b/oolite-1.80-test.linux-x86_64.tgz">Developer Release for 64-bit Linux</a></li>
	</ul>
  </div>

  <h2>Nightly builds</h2>

  <p>The next version of Oolite is being developed, with frequent
  changes. Nightly builds of the latest source are available for
  testers.</p>

  <p><strong>Warning: these builds may at any time contain serious
	  bugs, prototype features, and other unstable code. We do not
	  recommend these for regular play, and you should take backups of
	  your saved games before using them.</strong></p>

  <p>If you would like to try out the latest code, and give us
  feedback on the new features, then you can find the links to the
  nightly builds on the <a href='http://aegidian.org/bb/'>Oolite forum</a>.</p>

  <h2>Building from source</h2>
  
  <p>You can obtain the Oolite source from <a href='https://github.com/OoliteProject/oolite'>GitHub</a>. Instructions on building from source depend on your operating system and can be found on the <a href='http://wiki.alioth.net/index.php/Oolite_Instruction_Manual'>wiki</a></p>

</div>
