	  <div class="news">
		<h2>Latest News...</h2>
		<div class="item">
		  <p>Oolite 1.86 has been released, introducing new features and capabilities for improved gaming experience and stability. Check out <a href='/whatsnew/'>what's new</a> and <a href='/download/'>get it now!</a></p>
		  <p class='newsdate'>25 October 2017</p>
		</div>

		<div class="item">
		  <p>Upcoming features in Oolite 1.86 have been posted here in the "What's new?" section.</p>
		  <p class='newsdate'>23 October 2017</p>
		</div>

		<div class="item">
		  <p>Without any known showstoppers in the horizon, Oolite 1.86 is now in the code freeze phase. Read the official announcement at the Oolite Bulletins.</p>
		  <p class='newsdate'>17 October 2017</p>
		</div>

	  </div>

