	  <div class="news">
		<h2>Latest News...</h2>
		<div class="item">
		  <p><img src='/images/template/push-pin-icon.gif' alt="Pinned news" title="Pinned news"> Oolite 1.90 stable is launched. Have a look at <a href='/whatsnew/'>the new features</a> and download it <a href='/download/'>now!</a></p>
		  <p class='newsdate'>30 August 2020</p>
		</div>
<!--
		<div class="item">
		  <p>Oolite 1.89.0.200808 nightly build is enhancing cursor visibility and is introducing planetary terminator threshold vector as a user defined parameter, while delivering increased shader engine stability. 
		  Get it from <a href='https://github.com/OoliteProject/nightlies/releases'>GitHub Oolite nightly repo</a>.</p>
		  <p class='newsdate'>08 August 2020</p>
		</div>

		<div class="item">
		  <p>Oolite 1.89.0.200728 nightly build is addressing a ship cargo storage issue with kg and g unit commodities, while bringing some basic compass enhancements for improved target awareness. 
		  Get it from <a href='https://github.com/OoliteProject/nightlies/releases'>GitHub Oolite nightly repo</a>.</p>
		  <p class='newsdate'>28 July 2020</p>
		</div>
-->
<!--		<div class="item">
		  <p>Launch countdown initiated for Oolite 1.88! An impressive release bringing a feast of eye-candy, space warfare, game stability and expansion library scripting improvements for an even more immersive gaming experience. Features listing will follow shortly.</p>
		  <p class='newsdate'>21 October 2018</p>
		</div> -->

	  </div>

