	  <div class="news">
		<h2>Latest News...</h2>
		<div class="item">
		  <p>Without any known showstoppers in the horizon, Oolite 1.86 is now in the code freeze phase. Read the official announcement at the <a href='http://aegidian.org/bb/viewtopic.php?p=259658#p259658'>Oolite Bulletins</a>.</p>
		  <p class='newsdate'>17 October 2017</p>
		</div>

		<div class="item">
		  <p>Oolite 1.84 has been released, introducing new features and capabilities for improved gameplay and user interface. Check out <a href='/whatsnew/'>what's new</a> and <a href='/download/'>get it now</a>!</p>
		  <p class='newsdate'>21 July 2016</p>
		</div>

		<div class="item">
		  <p>Oolite 1.84 development status is feature freeze. The final release is expected in late July. Check out the full announcement here.</p>
		  <p class='newsdate'>20 June 2016</p>
		</div>

	  </div>

