<div class='relatedlinks'>
Other advice for new players from the Oolite Wiki:
<ul>
<li><a href='http://wiki.alioth.net/index.php/Oolite_Instruction_Manual'>Oolite Instruction Manual</a></li>
<li><a href='http://wiki.alioth.net/index.php/Pilot%27s_Reference_Manual'>Pilot's Reference Manual</a></li>
<li><a href='http://wiki.alioth.net/index.php/Mr_Gimlet'>Mr Gimlet's advice for new Commanders</a></li>
</ul>
</div>
<div id="maincontent">
  <h2>The beginning</h2>

  <p>You start the game with a Cobra III multi-role ship, and 100
  credits in spare cash. The Cobra III is an excellent ship - or
  rather, it has the potential to be an excellent ship. The one <i>you</i>
  own is very under-equipped, lacking basic upgrades for both combat
  and peaceful activities.</p>

  <div style="text-align: center; ">
	<img src='/images/starting/jameson.png' style="max-width: 100%; height: auto" alt="Commander's Status" />
  </div>

  <p>Nevertheless, even right now, it still has some advantages over
  the average ship you'll meet:</p>
  <ol>
	<li>It has decent shields and a substantial energy reserve.</li>
	<li>It can carry four missiles, each of which - if used carefully - might save your life.</li>
	<li>It's fast. You might not be able to outrun all attackers outright, but the longer you can run for, the more chance you have of finding help.</li>
  </ol>

  <p>There are a lot of controls - most of the keys on a standard
  keyboard are used for something - but many of these won't be
  necessary at first. Read the readme that comes with the game, or use
  the 'Keyboard settings' option to get the basic controls, and play
  the Tutorial option when starting a new game to get some practice at
  basic flight, combat and navigation. as well as introductions to key
  ship systems.</p>
  
  <p>If you are using a joystick, you can configure this by pressing
  'F2' and selecting 'Game Options' while docked or in-flight while paused.</p>

  <p>Whatever career you want to pursue, though, you'll need to get
  some money to upgrade your ship a bit.</p>

  <h2>Lave Station</h2>

  <p>You're currently docked at Lave Station. Similar stations orbit
  the primary inhabited world of all Cooperative systems, and have
  facilities for trading, upgrading your ship, and communicating with
  people who may wish to offer you a deal.</p>

  <div style="text-align: center; ">
	<img src='/images/starting/lave.jpg' style="max-width: 100%; height: auto" alt="Lave; home, sweet home." />
  </div>

  <p>Lave is a 'Rich Agricultural' system, selling foodstuffs and
  other organic products relatively cheaply, and importing mechanical
  and electronic goods at a good price. The easiest way to make money,
  though not the most profitable in the long run, is to trade cargo
  containers between systems, on the principle of "buy low, sell
  high". For most trade goods, this means buying at an Agricultural
  world to sell at an Industrial one, or vice versa. Keep a record of
  the prices you see and you'll soon work out which the most
  profitable cargoes are.</p>

  <p>Go to the F8 screen (Market) and load some appropriate goods into
  your ship (up and down arrows to select goods, left and right arrows
  to move them between your ship and the market)</p>

  <p>Now go to the F6 screen (short range chart). This shows you all
  the nearby systems, with a green circle the limit of your fuel
  range. Pressing 'i' will replace the names with symbols showing the
  government type, economic type, and technological level of the
  systems. If you are unsure what a symbol means, then move the cursor
  with the arrow keys until it is over a system, then press F7 to go
  to the system data screen to get a full description.</p>

  <p>Your ship is not yet well-equipped for combat, so you should if
  possible stick to the systems with safer governments - Corporate
  States, Democracies and Confederacies - until you have some better
  equipment. Anarchy and Feudal systems are especially dangerous and
  should be avoided until you have a well-equipped ship and combat
  experience. Even Lave - a Dictatorship - may not be particularly
  safe to return to.</p>

  <p>Based on the government and economy data, you should be able to
  see some systems where the trade goods you have bought will make a
  profit in relative safety. Move the cursor to one to select it as
  your destination, then launch from the station with F1.</p>

  <h2>Orbital space</h2>

  <p>You will now be launched from Lave station. Ahead of you will be
  the planet Lave itself, and closer than that will be the navigation
  buoy for the station. Your first flight task is to pull up so that
  you don't run into the buoy.</p>

  <p>Fly around the area of the station for a bit to get used to the
  controls. You'll notice that the station is rotating to generate
  artificial gravity, which means that docking can be a
  challenge. Your Cobra III is a wide but short ship - use 'v' to look
  at some external views, and then 'F1' to return to the forward
  view. To dock safely with a station, you need to be coming in from
  directly in front of the docking port, and with the port horizontal
  in front of you.</p>

  <div style="text-align: center; ">
	<img src='/images/starting/docking.jpg' style="max-width: 100%; height: auto" alt="Dock inside view" />
  </div>

  <p>Now is a very good time to practice this. Fly out to near the
  buoy, then turn to face the station. Centre the docking port in your
  view, then fly in slowly, adjusting your course so that you can see
  all four inner walls of the docking port. Once you're close enough
  that the station is mostly filling your screen, start rolling your
  ship to align the port horizontally, then keep rolling slowly to
  match the rotation. Make sure you're still coming in on course, and
  you should get in safely. Your shields will protect you if you're a
  little off course, provided you're not going too fast.</p>

  <p>Practice launching and docking a few more times, until you're
  confident that you know how to do it.</p>

  <h2>Going to a new system</h2>

  <p>The system you targeted earlier on the F6 screen should still be
	selected, so fly a little way from the station - its mass will
	interfere with the jump if it is too close - then press 'h' to
	activate the witchspace drive. This will count down for 15
	seconds, during which you are recommended to fly as level as
	possible, and then if nothing goes wrong you will arrive in your
	destination system.</p>

  <p>Ahead of you will be the planet, and somewhere around that will
  be an orbital station similar to the one you just left. On your HUD
  is a blue dial - the compass. The green dot nearly centred in it is
  the planet - practice turning, watching how the green dot moves, and
  then using the compass to find the planet again.</p>

  <p>When you get close to the planet, the compass will change to
	point towards the station. The first step, however, is to get
	towards the planet. Turn to face the planet, accelerate to top
	speed, and get closer. If there are no other ships about, your
	status light will be green, and you can use the torus drive to
	move considerably faster - press 'j' to activate it, and 'j' again
	to turn it off.</p>

  <img src='/images/starting/travel.png' alt=''>

  <p>You are unlikely to reach the planet without meeting someone - if
  you're lucky, and if you followed the advice about safe systems,
  this will be a trader, perhaps with some escort fighters, or a
  flight of police ships or bounty hunters, all of whom will ignore
  you for now if you don't cause trouble.</p>

  <p>If you are unlucky, it will be a pirate or several, and you will
  need to run, surrender or fight. Pirates are after your cargo, so
  dumping a few cargo pods - press 'shift-D' - may get them to go after the
  cargo rather than you. Drop too much, of course, and you won't be
  making much of a profit.</p>

  <p>Running is also a possibility - try to run towards the planet, if
  possible, as this increases your chance of reaching safety or
  meeting some police ships (purple dots on the scanner) who will
  attack the pirates.</p>

  <p>Fighting, with your ship as weak as it is, should be a last
  resort at this stage, but if the group is small you may stand a
  chance. Take on the smallest ships first - they die more easily but
  can do just as much damage. Don't forget you can dump cargo to
  surrender if it goes badly.</p>

  <p>If you fight, save your missiles if possible - the bigger pirate
  ships are likely to have counter-measure systems which will destroy
  them almost as soon as you launch them. However, these systems are
  indiscriminate, and will destroy pirate missiles too. Therefore, if
  a pirate launches a missile at you, launch one back! With any luck,
  both missiles will be destroyed, and you can keep fighting. If that
  doesn't work, well, your missile will probably get them. You now
  need to dodge and weave to avoid the enemy missile - you'll probably
  survive if it hits a full shield, but only just.</p>

  <h2>The second station</h2>

  <p>Eventually you will reach the planet, hopefully with most of your
  cargo still on board. Use the compass to locate the station, fly up
  to it, and dock like you practiced. Sell the cargo - for a profit,
  if you chose well! - and go to the F3 screen (equipment) to buy
  fuel, and perhaps replace missiles.</p>

  <p>Congratulations - you've survived your first trip. Save the game,
  then start planning a second trading run! Trading is the easiest way
  to make a reasonable amount of money with your starting ship, but
  you'll soon have enough spare to buy equipment and take on other
  sorts of work.</p>

  <h2>Career options</h2>

  <p>Very few pilots stick entirely to one of these careers throughout
  their time in space - or even in just one trip, and other careers
  are also open to qualified pilots.</p>

  <h3>Trading</h3>
  <p>Traders make their money by buying goods from export systems and selling them at import systems, as you did above. The main requirement is a cargo hold - the bigger the better. Many of the best profits can be found in dangerous systems, so a ship which can defend itself or run away from trouble is also useful.</p>

  <p>Certain illegal cargoes can fetch the highest profits, but will
  also attract significant attention from the police.</p>

  <h3>Mining</h3>
  <p>With a Mining Laser and Fuel Scoop fitted, it is possible to break asteroids down into manageable chunks, and then collect those chunks to sell as minerals. It's a slow way to make money, but it's usually fairly safe.</p>

  <h3>Piracy</h3>
  <p>The practice of attacking trade ships to intimidate them into dumping cargo - or worse, destroying the ship in the hope that its wreckage will contain something salvageable - is illegal throughout Cooperative space, but the profits which can be achieved cause many pilots to engage in it regardless of the law.</p>

  <div style="text-align: center; ">
	<img src='/images/starting/combat.png' style="max-width: 100%; height: auto" alt='' />
  </div>

  <h3>Bounty hunting</h3>
  <p>Smugglers, pirates and other criminals will have a bounty placed on their craft by the Cooperative. Destruction of their ship will pay this bounty to their attacker, and many pilots use this as their main source of income.</p>

  <h3>Courier work</h3>
  <p>People often need to be in a different system, or have small parcels to be transported elsewhere, and are willing to pay a significant amount for this service. A passenger service requires passenger cabins to be fitted, but parcels can be kept in your safe. Remember that some people wishing to travel may have enemies - couriers tend to favour fast well-armed ships for their work.</p>

  <div style="text-align: center; ">
	<img src='/images/starting/courier.png' style="max-width: 100%; height: auto" alt='' />
  </div>

  <h3>Salvage / rescue</h3>
  <p>The aftermath of a battle often leaves cargo containers and escape capsules floating in space. Recovering these with a fuel scoop can give a significant profit - escape capsules can have rewards of up to 500 credits for their safe return.</p>


</div>
