<div id='whatsnew'>

<table width="100%">
   <tr>
     <td>
		<a href="/whatsnew/"> <-- back to Oolite stable</a>
	 </td>
   </tr>
</table> 
</br></br>

<p>Welcome to <strong>Oolite 1.91 Nightly Build</strong>. Bug fixes and new features, 
under test and development with frequent updates, will be listed here. 
If you would like to try out the <strong>bleeding edge stuff</strong>, and give us 
feedback on the new features, then you can download the installer from <a href='https://github.com/OoliteProject/nightlies/releases'>GitHub Oolite nightly repo</a>. 
Alternative download links can be found on the <a href='http://aegidian.org/bb/'>Oolite forum</a>.</p>
<!--<p><strong>Warning: these builds may at any time contain serious 
bugs, prototype features, and other unstable code. We do not 
recommend these for regular play, and you should take backups of 
your saved games before using them.</strong></p>
<br>-->
<p>Oolite bug fixes and new features will be listed below grouped in:
<ul>
<li><a href="#sub1">General Enhancements</a></li>
<li><a href="#sub2">Expansion Pack Development - Scripting</a></li>
<li><a href="#sub3">Bug Fixes</a></li>
</ul></p>

<div style="text-align: center; ">
	<img src="/images/whatsnew/lavearth.jpg" style="max-width: 100%; height: auto" alt="Lave is Earth expansion pack. (screenshot by another_commander)" />
</div>

<br>
<h2 id="sub1">General Enhancements</h2>

<div style="text-align: center; ">
	<img src="/images/whatsnew/BoaOverBemaera.jpg" style="max-width: 100%; height: auto" alt="Extra illuminated Boa over Bemaera. (screenshot by another_commander)" />
</div>

<br>
<h2 id="sub2">Expansion Pack Development - Scripting</h2>

<div style="text-align: center; ">
	<img src="/images/whatsnew/EarthCoriolisCloseup.jpg" style="max-width: 100%; height: auto" alt="Coriolis close-up with background moon. (screenshot by another_commander)" />
</div>

<br>
<h2 id="sub3">Bug Fixes</h2>
</br>
<table width="100%">
   <tr>
     <td>
		<a href="/whatsnew/"> <-- back to Oolite stable</a>
	 </td>
   </tr>
</table> 
</div>
