	  <div class="news">
		<h2>Latest News...</h2>
		<div class="item">
		  <p>Oolite 1.88 is launched. Have a look at <a href='/whatsnew/'>the new features</a> and download it <a href='/download/'>now!</a></p>
		  <p class='newsdate'>27 October 2018</p>
		</div>

		<div class="item">
		  <p>Launch countdown initiated for Oolite 1.88! An impressive release bringing a feast of eye-candy, space warfare, game stability and expansion library scripting improvements for an even more immersive gaming experience. Features listing will follow shortly.</p>
		  <p class='newsdate'>21 October 2018</p>
		</div>

		<div class="item">
		  <p>Oolite 1.86 has been released, introducing new features and capabilities for improved gaming experience and stability. Check out <a href='/whatsnew/'>what's new</a> and <a href='/download/'>get it now!</a></p>
		  <p class='newsdate'>25 October 2017</p>
		</div>

	  </div>

