
<ul>
<li>Almost all released expansion packs, regardless of format, are also listed on the Wiki's <a href='http://wiki.alioth.net/index.php/OXP_List'>OXP List</a>.</li>
<li>The Wiki is also home to the <a href='http://wiki.alioth.net/index.php/OXP_howto'>developer documentation</a>.</li>
<li>If you have difficulty with an expansion pack, it is usually best to report this in its thread in the <a href='http://aegidian.org/bb/viewforum.php?f=4'>Expansion Pack forum</a>.</li>
<li>If you are an expansion pack writer, you can <a href='/admin/'>upload your manifest files</a> to the list.</li>
</ul>

