:root {
  --main-border-color:   #009;
  --main-hover-color:    #222288;
  --main-selected-color: #0a0a55;
  --main-ctrl-bg-color:  #000032;
  --main-ctrl-border-color: #202066;
  --main-secondary-color: #aaa;
  --main-link-color: #9cf;
  --bs-table-color: #FFF;
}

body {
    background-color: #000;
    color: #DFDFDF;
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, sans-serif;
    padding: 1em 4px 1em 4px;
    font-size: 1.042em;
}

#footer {
    margin: 0;
    padding: 1em 0;
    font-size: 90%;
    text-align: right;
}

a:link {
    color: var(--main-link-color);
}

a:visited {
    color: #99f;
}

h1 {
    color: #FFF;
}

h2 {
    font-family: monospace;
    margin: 0;
    padding: 0.2em 0;
    font-size: 1.5em;
    color: #FFF;
    letter-spacing: 0.05em;
}

h3 {
    font-family: monospace;
    margin: 0;
    padding: 0.2em 0;
    font-size: 1.25em;
    font-weight: bold;
    color: #FFF;
    letter-spacing: 0.055em;
}

.ctrl-bg {
    background-color: var(--main-ctrl-bg-color);
}

a.ctrl-btn {
    text-decoration: none;
}

.ctrl-btn {
    color: #FFF;
    cursor: pointer;
    vertical-align: middle;
    overflow: hidden;
    font-size: 90% !important;
    padding: 0.6em 1em 0.6em 1em;
    border-radius: 5px;
    border: thin var(--main-ctrl-border-color) solid;
    background-color: var(--main-ctrl-bg-color);
}

.ctrl-btn:hover {
    background-color: var(--main-hover-color);
    border-color: var(--main-border-color);
}

.ctrl-btn.active {
    cursor: default !important;
    background-color: var(--main-selected-color) !important;
    border-color: var(--main-border-color);
}

.imgbar {
    height: 160px;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #000;
}

.imgbar img {
    width: 100%;
}

.img-wrp {
    padding-bottom: 6px;
    display: flex;
    justify-content: center;
}

.img-wrp img {
    flex: 0 1 min-content;
    width: 100%;
}

.secondary-text {
    color: var(--main-secondary-color);
}

/* = = = = = = = = = = = = = = = = = = = = = = = = = = */

.flex-row {
    display: flex;
    flex-direction: row;
}
.flex-col {
    display: flex;
    flex-direction: column;
}
.flex-ai-s {
    align-items: flex-start;
}
.flex-ai-e {
    align-items: flex-end;
}
.flex-ai-c {
    align-items: center;
}
.flex-jc-s {
    justify-content: flex-start;
}
.flex-jc-e {
    justify-content: flex-end;
}
.flex-jc-c {
    justify-content: center;
}
.flex-jc-sb {
    justify-content: space-between;
}

.flex {
    flex: 0 1 auto;
}
.flex-1 {
    flex: 1 1 auto;
}
.flex-2 {
    flex: 2 1 auto;
}
.flex-3 {
    flex: 3 1 auto;
}

.site-wrapper {
}
.site-menu {
    flex: 2 1 12%;
}
.site-main {
    flex: 1 1 1200px;
    max-width: 1200px; 
}

.star-bg {
}

.carousel-item img {
    width: 100%;
}

/* = = = = = = = = = = = = = = = = = = = = = = = = = = */

#navigation {
    padding: 0;
}

#navigation .logo-wrp {
    text-align: center;
    padding: 2em 2em 0 1em;
}

#navigation .logo-wrp img {
    width: 100%;
    max-width: 164px;
}

#navigation .nav {
    border: 0;
    padding: 0;
    margin: 0;
}

#navigation .nav-item {
    margin: 1.1em 0 0 0;
}

#navigation .nav-link {
    padding: 2px 1em 3px 1em;
    height: 2.8em;
    position: relative;
    color: white;
    font-size: 1.1em;
    cursor: pointer;
    transition: none;
    border: thin var(--main-ctrl-border-color) solid;
    border-right: none;
    border-radius: 5px 0 0 5px;
    background-color: var(--main-ctrl-bg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#navigation .nav-link.active {
    border-color: var(--main-border-color);
    background-color: #000 !important;
    cursor: default;
}

#navigation .nav-link:hover {
    background-color: var(--main-hover-color);
}

#navigation .nav-r-black {
    display: none;
    position: absolute;
    top: 0;
    right: -1px;
    width: 3px;
    height: 100%;
    background-color: #000;
    z-index: 999;
}

#navigation .nav-link.active .nav-r-black {
    display: block;
}

#h-navigation {
    padding: 18px 0 0 0;
    border-left: 1px solid var(--main-border-color);
    border-right: 1px solid var(--main-border-color);
}

#h-navigation ul.nav {
    border: none;
}

#h-navigation button {
    background-color: #000;
    color: var(--main-link-color);
    border-radius: 0 0 0 0;
    border: none;
    font-family: monospace;
    font-size: 1.4em;
}

#h-navigation button.active {
    color: #FFF;
    font-weight: bold;
    border: 1px solid var(--main-ctrl-border-color);
    border-bottom: 1px solid #000;
    border-radius: 5px 5px 0 0;
}

@media (max-width: 739px) {
    #h-navigation button.active {
        border: none !important;
    }

    #h-navigation ul.nav {
        border-bottom: 1px solid var(--main-ctrl-border-color);
    }
}

#h-navigation li {
    border: 0;
    background-color: #000;
}

/* = = = = = = = = = = = = = = = = = = = = = = = = = = */

#quote {
    padding: 2.5em 1em 0 0.2em;
    font-size: 90%;
}
#quote blockquote {
    padding: 0;
    margin: 0 0 0.2em 0;
    font-style: italic;
    color: var(--main-secondary-color);
}
#quote cite {
    font-style: normal;
    display: block;
}

/* = = = = = = = = = = = = = = = = = = = = = = = = = = */

#title-wrapper {
    text-align: center;
    border: thin var(--main-border-color) solid;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 0;
    padding-right: 2em;
}

#title-wrapper h1 {
    margin: 0;
    padding: 0.25em;
    padding-bottom: 0.3em;
    font-weight: bold;
    font-size: 2.1em;
}

#title-wrapper h1.p-title-small {
    padding: 0.2em;
    padding-bottom: 0.3em;
    font-size: 1.2em;
}

#content-wrapper {
    border: thin var(--main-border-color) solid;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 0.8em;
    min-height: 64em;
}

#content-wrapper .row.active {
    display: flex;
}

/* = = = = = = = = = = = = = = = = = = = = = = = = = = */

#news h2, #oxp-news h2 {
    font-family: monospace;
    font-size: 1.1em;
    font-weight: bold;
}

.news-item {
    padding: 0.1em 0 0.8em 0.8em;
}

.news-meta {
    position: relative;
    height: 1.5em;
    font-style: italic;
    font-size: 85%;
    padding-top: 0.2em;
    color: var(--main-secondary-color);
}

.news-ver {
    display: inline-block;
    position: absolute;
    left: 1px;
    text-align: left;
}

.news-date {
    display: inline-block;
    position: absolute;
    right: 1px;
    text-align: right;
}

/* = = = = = = = = = = = = = = = = = = = = = = = = = = */

#whatsnew-items h2 {
    margin-top: 2.1em;
}

#whatsnew-items p.last {
    padding-top: 3em;
}

#whatsnew-items p+ul {
    margin-top: -0.8em;
}

#whatsnew-items .img-wrp {
    padding-bottom: 8px;
}

/* = = = = = = = = = = = = = = = = = = = = = = = = = = */

.version-navigator .vnav {
    display: none;
}

.version-navigator.btn-set-1 .vnav.btn-set-1 {
    display: inline-block;
}

.version-navigator.btn-set-2 .vnav.btn-set-2 {
    display: inline-block;
}

.version-navigator.btn-set-3 .vnav.btn-set-3 {
    display: inline-block;
}

.version-navigator.btn-set-4 .vnav.btn-set-4 {
    display: inline-block;
}

.version-navigator.btn-set-5 .vnav.btn-set-5 {
    display: inline-block;
}

.version-navigator.btn-set-6 .vnav.btn-set-6 {
    display: inline-block;
}

. version-navigator .btn-wrp {
    flex: 0 1 min-content;
}
/* = = = = = = = = = = = = = = = = = = = = = = = = = = */

.download-blk {
    padding-top: 0.42em;
    padding-bottom: 0.42em;
    border: 1px solid var(--main-secondary-color);
    background-color: var(--main-ctrl-bg-color);
    min-height: 10em;
    flex: 0 1 32%;
}

.download-blk p.req {
    font-size: 90%;
    padding: 0 1em;
    margin: 0.5em 0;
}

.download-blk ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.download-blk li {
    margin: 0 1em;
    padding-bottom: 0.5em;
}

.download-blk h3:before {
    content: "↓";
    padding: 0 1em;
}

.download-blk h3 {
    font-size: 110%;
    margin: 0.5em 0 0;
}

.download-note {
    font-family: sans-serif;
    color: var(--main-secondary-color);
}

.imgbar-starfield {
    background-image: url("https://addons.oolite.space/i/starfield.jpg");
}

@media (min-width: 580px) {
    .download-blk-wrp {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }    
}

@media (max-width: 579px) {
    .download-blk {
        margin-bottom: 8px;
    }    
}

/* = = = = = = = = = = = = = = = = = = = = = = = = = = */

#gallery-buttons {
    padding: 0.5em 0 1.4em 0;
}

#page-gallery .gallery .basic-set, #page-gallery .gallery .oxp-set {
    display: none;
}

#page-gallery .gallery.basic-set .basic-set {
    display: block;
}

#page-gallery .gallery.oxp-set .oxp-set {
    display: block;
}

#page-gallery img {
    width: 100%;
}

#page-gallery .gallery {
    max-width: 1176px;
}

#page-gallery .caption-container {
    background-color: #222;
    padding: 0.5em 1em 0.6em 1em;
    margin-bottom: 2px;
}

#page-gallery .thumbs {
    display: flex;
    flex-wrap: wrap;
    flex-flow: row;
}

#page-gallery .thumb-wrapper {
    flex: 1 0 auto;
    width: 16%;
    max-height: 110px;
    text-align: center;
    opacity: 0.5;
    cursor: pointer;
    border: thin #000 solid;
    overflow: hidden;
}

#page-gallery .thumb-wrapper.active {
    cursor: default;
    border: 1px solid var(--main-secondary-color);
    opacity: 1;
}

#page-gallery .thumb-wrapper:hover {
    opacity: 1;
    border-bottom: 1px solid var(--main-secondary-color) !important;
}

#gallery-oxp-thumbs button {
    width: 5%;
}

/* = = = = = = = = = = = = = = = = = = = = = = = = = = */

.oxp-disclaimer {
    border: 1px solid #DDD;
    border-radius: 5px;
    padding: 8px 12px;
    margin-bottom: 20px;
    color: #FFF;
    text-align: justify;

    font-family: monospace;
    font-size: 0.9em;
    letter-spacing: 0.07em;
    font-weight: bold;
}

a.show-more-oxp, #show-all-oxp-desc {
    color: var(--main-link-color);
}

.dload-img {
    display: inline-block;
    width: 24px;
    height: 18px;
    background-color: var(--main-link-color);
    -webkit-mask-image: url(https://addons.oolite.space/i/download.svg);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-image: url(https://addons.oolite.space/i/download.svg);
    mask-repeat: no-repeat;
    mask-position: center;
}

.oxp-tr-gr.desc .oxp-tr-info td {
    padding-top: 3px;
    border-bottom: 0;
    padding-bottom: 0;
}

.oxp-tr-gr tr.oxp-tr-desc {
    display: none;
}

tr.oxp-tr-desc td {
    color: var(--main-secondary-color);
    padding-top: 0;
    padding-bottom: 4px;
}

.oxp-tr-gr.desc tr.oxp-tr-desc {
    display: table-row;;
}

.oxp-table {
    color: #FFF;
    font-size: 90%;
    width: 100%;
}

.oxp-table th a {
    text-decoration: none;
}

#show-all-desc, .oxp-table th a:visited {
    color: var(--main-link-color) !important;
}

.oxp-table .oxp-title {
    color: var(--main-link-color);
}

.oxp-table .oxp-ver {
    color: var(--main-secondary-color);
}

.oxp-table .oxp-up {
    white-space: nowrap;
}

@media (max-width: 532px) {
    .small-l1 {
        display: none;
    }
    body {
        padding: 1em 0 1em 0;
    }
}

@media (max-width: 496px) {
    .small-l2 {
        display: none;
    }
    .oxp-table td {
        font-family: sans-serif;
        padding: 3px 1px 3px 1px;
        font-size: 8px;
    }
    #content-wrapper {
        padding: 0.8em 2px 0.8em 2px;
    }
}

@media (max-width: 400px) {
    .small-l3 {
        display: none;
    }
}
